
* {
  margin: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  align-content: center;
}

h2 {
  background: linear-gradient(to right, #6666ff, #0099ff , #00ff00, #ff3399, #6666ff);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  animation: rainbow_animation 6s ease-in-out infinite;
  background-size: 400% 100%;
}
 
p {
  margin: 8px 0;
}
 
button {
  padding: 4px 8px; 
  border-radius: 6px;
  background: rgba(0, 0, 0, 0.02);
  border: 0.5px solid rgba(0, 0, 0, 0.2);
  box-shadow: 0.5px 0.5px rgba(0, 0, 0, 0.2);
}
 
code {
  padding: 2px 8px 2px 8px;
  background-color: rgba(0, 0, 0, 0.04);
  border-radius: 4px;
}
  
@keyframes rainbow_animation {
  0%, 100% {
    background-position: 0 0;
  }
  
  50% {
    background-position: 100% 0;
  }
}
    